body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  height: 0px; /* height of horizontal scrollbar â† You're missing this */
  width: 0px; /* width of vertical scrollbar */
  border: 1px solid #d5d5d5;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #b32525;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #b0b0b0;
}

.checkIcon:hover {
  cursor: pointer;
}
.todo-list {
  overflow-y: auto;
  /* height: 381px; */
  flex: 1;
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
}

.todo-list > .todo-list-container:nth-child(even) {
  background-color: #049ba9;
  color: purple;
}

.todo-list > .todo-list-container:nth-child(odd) {
  background-color: rgb(11, 11, 69);
  color: white;
}

.todo-list
  > .todo-list-container:nth-child(even)
  .todo-item
  .each-todo-container {
  background-color: #48d0dc;
  color: purple;
}

.todo-list
  > .todo-list-container:nth-child(odd)
  .todo-item
  .each-todo-container {
  background-color: rgb(67, 67, 186);
  color: white;
}

.todo-item {
  padding: 0px;
}
.add-btn {
  font-size: 16px;
  color: rgb(11, 11, 69);
  border-radius: 5px;
  border: 1px solid white;
  padding: 5px 10px;
}
.add-btn:hover {
  cursor: pointer;
}

.add2-btn {
  font-size: 30px;
  color: white;
  border-radius: 5px;
  margin: 0px 10px 0px auto;
}

.delete-btn {
  font-size: 30px;
  color: red;
  border-radius: 5px;
  margin: 0px 5px;
}

.collapse-todo {
  font-size: 30px;
  color: white;
  border-radius: 5px;
  margin: 0px 5px;
}

.each-todo-container {
  /* background-color: rgb(45, 45, 147); */
  border-bottom: 1px solid gray;
  color: lightgray;
  font-family: "Montserrat";
  padding: 15px 10px 10px 10px;
}
.each-todo {
  display: flex;
  position: relative;
}
.todo-head {
  height: fit-content;
}
.todo-container {
  height: 80vh;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
  margin-top: 20px;
  border-radius: 5px;
  background-color: lightcoral;
}

.input-holder {
  text-align: center;
}

.todo-form-input {
  width: 85%;
  height: 40px;
  /* margin-left: auto;
  margin-right: auto; */
  /* margin-left: 2%; */
  padding-left: 10px;
  margin-bottom: 10px;
  background-color: rgb(11, 11, 69);
  border-radius: 5px;
  color: lightgray;
  font-size: 16px;
}

input[type="datetime-local"] {
  /* Style the border */
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 85%;
  height: 30px;
  /* Style the font */
  /* font-family: Arial, sans-serif; */
  font-family: "Montserrat";
  font-size: 16px;

  background-color: rgb(11, 11, 69);
  color: lightgray;

  /* Style the padding */
  padding: 5px 10px;
}

.todo-btns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 10px;
}

.todo-check-icon {
  color: lightGray;
  font-size: 20px;
}

.todo-del-icon {
  color: orangered;
  font-size: 25px;
  /* margin-top: auto;
  margin-bottom: auto; */
  position: absolute;
  right: 5px;
  top: -10px;
  cursor: pointer;
}

.todo-date {
  margin-left: 10px;
}

.todo-edit-icon {
  position: absolute;
  font-size: 18px;
  right: 7px;
  bottom: 0px;
  cursor: pointer;
}

.todo-content {
  width: 80%;
  padding-left: 15px;
  padding-right: 2px;
}

.down-arrow {
  color: lightcoral;
  position: absolute;
  bottom: 15px;
  right: 37px;
  font-size: 35px;
  -webkit-animation: blink 2s infinite; /* Safari */
  animation: blink 1.5s infinite;
}

/* Safari */
@-webkit-keyframes blink {
  60% {
    -webkit-transform: scale(0.6, 0.6);
  }
  80% {
    -webkit-transform: scale(0.8, 0.8);
  }
  100% {
    -webkit-transform: scale(1, 1);
  }
}

@keyframes blink {
  60% {
    transform: scale(0.6, 0.6);
  }
  80% {
    transform: scale(0.8, 0.8);
  }
  100% {
    transform: scale(1, 1);
  }
}

@media only screen and (max-width: 600px) {
  .todo-date {
    margin-left: 0px;
  }

  .todo-container {
    width: 95vw;
    height: 85vh;
    font-size: 12px;
  }
  .todo-content {
    width: 80%;
    padding-left: 5px;
    padding-right: 2px;
  }

  .todo-check-icon,
  h3.span,
  .todo-form-input {
    font-size: 15px;
  }

  .todo-form-input {
    height: 30px;
  }
  input[type="datetime-local"] {
    /* Style the border */
    width: 85%;
    height: 25px;
    font-size: 13px;
  }
  .add-btn {
    font-size: 12px;
  }

  .add2-btn {
    font-size: 18px;
  }

  .delete-btn {
    font-size: 18px;
    margin: 0px 5px;
  }

  .collapse-todo {
    font-size: 18px;
    margin: 0px 5px;
  }
}
