body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  height: 0px; /* height of horizontal scrollbar ← You're missing this */
  width: 0px; /* width of vertical scrollbar */
  border: 1px solid #d5d5d5;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #b32525;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #b0b0b0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.checkIcon:hover {
  cursor: pointer;
}
.todo-list {
  overflow-y: auto;
  height: 381px;
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
}
.todo-item {
  padding: 0px;
}
.add-btn {
  position: relative;
  top: 20px;
  font-size: 57px;
  color: rgb(11, 11, 69);
}
.add-btn:hover {
  cursor: pointer;
}

.each-todo-container {
  background-color: rgb(11, 11, 69);
  border-bottom: 1px solid gray;
  color: lightgray;
  font-family: "Montserrat";
  padding: 15px 10px 10px 10px;
}
.each-todo {
  display: flex;
  position: relative;
}
.todo-head {
  height: 200px;
}
.todo-container {
  height: 600px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
  margin-top: 20px;
  border-radius: 5px;
  background-color: lightcoral;
}

.todo-form-input {
  width: 85%;
  height: 40px;
  margin-left: 2%;
  padding-left: 10px;
  margin-bottom: 10px;
  background-color: rgb(11, 11, 69);
  border-radius: 5px;
  color: lightgray;
  font-size: 16px;
}

input[type="datetime-local"] {
  /* Style the border */
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 82%;
  margin-left: 2%;
  height: 30px;
  /* margin-bottom: 10px; */

  /* Style the font */
  /* font-family: Arial, sans-serif; */
  font-family: "Montserrat";
  font-size: 16px;

  background-color: rgb(11, 11, 69);
  color: lightgray;

  /* Style the padding */
  padding: 5px 10px;
}
.todo-check-icon {
  color: lightGray;
  font-size: 20px;
}

.todo-del-icon {
  color: red;
  font-size: 25px;
  /* margin-top: auto;
  margin-bottom: auto; */
  position: absolute;
  right: 5px;
  top: -10px;
  cursor: pointer;
}

.todo-date {
  margin-left: 10px;
}

.todo-edit-icon {
  position: absolute;
  font-size: 18px;
  right: 7px;
  bottom: 0px;
  cursor: pointer;
}

.todo-content {
  width: 80%;
  padding-left: 15px;
  padding-right: 2px;
}
@media only screen and (max-width: 600px) {
  .todo-date {
    margin-left: 0px;
  }

  .todo-container {
    width: 90vw;
    font-size: 12px;
  }
  .todo-content {
    width: 80%;
    padding-left: 5px;
    padding-right: 2px;
  }

  .todo-check-icon,
  h3.span,
  .todo-form-input {
    font-size: 15px;
  }

  .todo-form-input {
    height: 30px;
  }
  input[type="datetime-local"] {
    /* Style the border */
    width: 78%;
    height: 25px;
    font-size: 13px;
  }
  .add-btn {
    font-size: 47px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
